/* CURRENTLY IN: styles/main.css */

.container {
	background: url(corin.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {
	background:			black;
	background-image:	url(black.jpg);
}



.title {
	border-radius: 		1px;
	font-size: 			60px;
	margin:				auto;
	color:				white;
	margin-top:			60px;
}

.navbar {
	background-color:	rgba(255, 255, 255, 0.48);
	width:				100%;
	height:				50px;
	position:			fixed;
	text-align: 		center;
	color:				white;
	background-color:	black;
	text-align: 		inline;
}

.info {
	width:				30%;
	margin-left:		55%;
	margin-right:		30%;
	border-radius:		2px;
	background-color:	rgba(0, 0, 0, 0.49);
	color:				white;
	padding:			10px;
}

/*cool! git hub confusion notes....
cause you accidentally made an offline repo idiot
oh ok
here's what you do
create the repo on git hub
instead of doing git clone https:///URL
instead go into your offline repo
and type
git remote add origin https://URL
then
git push origin master
you might have to merge (do a pull before a push)*/